html {
    background-color: rgb(255, 242, 242);
    color: green;
    display: table;
    margin: auto;
    padding-top: 10%;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
}

body {
    display: table-cell;
}

th {
    text-align: center;
}

table,
td {
    border-spacing: 20px;
    text-align: left;
}


button {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: green;
}

form {
    margin: 2px !important;
}


.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}