<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Grocery Run</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <header>
        <h1>Grocery Run</h1>
        <nav></nav>
    </header>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>