{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>Edit Item</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="button-33" role="button" type="submit">update</button>
        </form>
    </div>
    <br>
    <div>
        <form method="POST" action="{% url "delete_item" item.id %}">
            {% csrf_token %}<button class="button-33" role="button" type="submit" value="Delete">delete</button>
        </form>
    </div>


{% endblock content %}